.flex{
    display: flex;
    align-items: center;
}
.arrow{
    margin-left: 10px;
}
.red {
    color: #dc213c !important;
}
.link-dark{
    text-decoration: none;
    color: #3c4858;
    font-weight: 600;
    margin-right: 20px;
}
.ligth{
    color: #fff;
    margin-right: 10px;
}
.link-dark:hover{
    color: #fff;
    text-decoration: underline;
}
.social-media a{
    margin-right: 10px;
}
.social-media a i{
    color: #fff;
    font-size: 15px;
}

.social-media a i:hover{
    color: #ececec;
}
.nav-link--normal{
    font-weight: 500 !important;
}
.endereco{
    padding-top: 15px;
    line-height: 40px;
    font-weight: normal;
}

.footer-img{
    margin-right: 15px;
}
.footer-text{
    line-height: 28px;
}
.left{
    display: flex;
    margin-bottom: 14px;
}
.left p{
    padding-left: 10px;
}
.text-footer-red{
    color: #dc213c;
}
.square{
    height: 8px;
    width: 8px;
    background-color: #dc213c;
    margin-right: 10px;
}

.text-date{
    display: flex;
    align-items: center;
}

.line-bottom{
    height: 1px;
    width: 80px;
    background-color: #dc213c;
}

.input-footer{
    outline: none;
    padding: 10px 5px;
}

.btn-form--footer{
    height: 50px;
    width: 50px;
    color: #fff;
    background-color: #dc213c;
    border: none;
}
.social-footer{
    display: flex;
    margin-top: 40px;
}
.social-footer a{
    background: rgba(255, 255, 255, 0.1);
    margin-right: 15px;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-footer a:hover {
    background-color: #dc213c;
}

.body-copy{
    background: rgba(255, 255, 255, 0.1) !important;
}


.dropdown{
    position: relative;
    display:inline-block;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #fafafa;
    border-radius: 3px;
    min-width: 160px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    right: 0;
}
.dropdown-content::before{
    content: "";
    position: relative;
    margin-left: 137px;
    margin-top: -5px;
    background-color: #fafafa;
    box-shadow: -2px 2px 13px 0px rgba(0, 0, 0, 0.2);
    width: 15px;
    height: 15px;
    rotate: 135deg;
    z-index: -1;
}

.dropdown-content a {
    color: #3c4858;
    font-size: 16px;
    padding: 10px 16px;
    margin-bottom: 3px;
    text-decoration: none;
    display: block;
    display: list-item;
}

.dropdown-content a:hover{
    background-color: #ececec;
}

.dropdown:hover .dropdown-content{
    display: flex;
    
}

